/* Primary styling sheet */


:root {
  --primary-default: white;
}


/* Color */
h1 {
  color: rgb(34, 79, 117);
}

h2 {
  color: hsl(200, 50%, 40%);
}

h3 {
  color: rgb(255, 107, 70);
}


p {
  color:color-mix(in srgb, red 60%, white 40%);
}

summary {
  color: color(display-p3 0.1 0.3 0.5);
  height: 30px;
}



a {
  color: var(--primary-default, white)

}



/* Unit */
header {
  width: 90%;
  max-width: 70vw;
  min-width: 20em;
  padding: 5%;
  margin: auto;
  position: sticky;
}


main {
  margin-top: 10px;
  margin-right: 2cm;
  margin-bottom: 18pt;
  margin-left: 2cm;
  padding-top: 8px;
  padding-right: 15px;
  padding-bottom: 1mm;
  padding-left: 15px;
}

footer {
  text-decoration: underline;
  text-align: center;
  position: relative;
}


section{
    border-style:solid;
    border-color:black;
    border-width:5px; 
    border-radius:10px;
    margin: 15px 5px 15px 5px;
    padding: 5px 15px 5px 15px;
}

ol{
display: inline;  
}

ul{
  display: block
}

section:hover{
  background-color: #fff;
}

button:active {
  color: blue;
  background-color: black;
}

#attendance ul {
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
}

#media {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1px;
  justify-items: center;
}